img {
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;
}

html {
  font-family: "Roboto", sans-serif, Helvetica, sans-serif;
}

.house {
  width: 250px;
  border-radius: 80%;
}

.logo1 {
  width: 60px;
  max-width: 55px;
  margin: 0px;
  margin-left: 4px;
}

.kids_football {
  max-width: 400px;
  border-radius: 80%;
}

.contact {
  width: 200px;
}

.game {
  font-family: "Roboto", sans-serif, Helvetica, sans-serif;
}

h1 {
  font-size: 32px;
  color: rgb(193, 233, 206);
  font-family: "Roboto", sans-serif, Helvetica;
}

h2 {
  font-size: 28px;
  margin: 0;
  margin-bottom: 20px;
  font-weight: normal;
  margin-left: 20px;
}

h3 {
  font-weight: bold;
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: 0%;
  margin-top: 0%;
}

h4 {
  font-weight: normal;
  margin-left: 20px;
  font-size: 16px;
  margin-left: 1em;
  margin-right: auto;
  margin-top: 0%;
  width: 30em;
  padding-bottom: 15px;
}

h5 {
  font-size: 16px;
  margin-left: 20px;
  font-weight: normal;
}

h6 {
  font-size: 28px;
  font-style: italic;
  margin-left: 15em;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}

dt {
  font-weight: bold;
  margin-bottom: 0%;
  margin-top: 15px;
  margin-left: 15px;
}

ol {
  margin-bottom: 0%;
  margin-top: 0%;
  padding-left: 0%;
}

ul {
  margin-bottom: 0%;
  margin-top: 0%;
  list-style-type: lower-alpha;
}

.abc ol {
  margin-bottom: 0%;
  margin-top: 0%;
  list-style-type: lower-alpha;
}

.square li {
  margin-bottom: 0%;
  margin-top: 0%;
  list-style-type: square;
}

.circle li {
  margin-bottom: 0%;
  margin-top: 0%;
  list-style-type: circle;
}

li {
  font-weight: normal;
  font-size: 16px;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 0%;
  margin-bottom: 0%;
  text-justify: justify;
}

li.a {
  font-weight: normal;
  font-size: 16px;
  margin-left: 1em;
  margin-right: auto;
  margin-top: 0%;
  width: 30em;
  padding-bottom: 15px;
  list-style-type: square;
  text-justify: justify;
}

.subclass li {
  margin-left: 50px;
}

table td {
  font-weight: normal;
  text-align: left;
  width: 30%;
}

table tr {
  font-weight: normal;
  text-align: left;
}

.location {
  text-align: center;
}

.container_grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
  grid-gap: 15px;
  align-items: center;
  text-align: center;
  border-color: brown;
  border-width: 3px;
}

.ingrid {
  padding: 20px;
}

.body_grid {
  display: grid;
  grid-template-columns: 300px 500px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

body {
  background-color: rgb(218, 177, 101);
  margin: 0;
}

nav {
  margin-left: 100px;
  margin-right: 960px;
  background-color: goldenrod;
  padding-bottom: 2px;
  padding-left: 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  justify-content: space-around;
  display: flex;
  flex-grow: 50%;
  height: 30px;
  align-items: center;
}

p {
  font-size: 32;
}

.header {
  display: grid;
  text-align: left;
  align-items: center;
  background-color: rgb(16, 78, 43);
  grid-template-columns: 65px 500px;
  height: 100px;
}

.ball {
  width: 300px;
}

.footer_grid2 {
  display: grid;
  align-items: center;
  background-color: rgb(16, 78, 43);
  border-right: 10px;
  grid-template-columns: 20% auto 10%;
  height: 100px;
  color: rgb(193, 233, 206);
  padding-left: 20px;
}

.footer {
  padding-top: 30px;
}

.copywright {
  justify-items: start;
  padding-left: 20px;
  color: rgb(94, 134, 86);
}

.anchor {
  display: inline-block;
  justify-self: flex-start;
  border-right: 20px;
  font-size: large;
  color: rgb(193, 233, 206);
  background-color: rgb(44, 99, 68);
  opacity: 50%;
  padding: 8px 12px;
  border-radius: 90%;
}

.anchor a:visited {
  display: inline-block;
  justify-self: flex-start;
  border-right: 20px;
  font-size: large;
  color: rgb(193, 233, 206);
  background-color: rgb(44, 99, 68);
  opacity: 50%;
  padding: 8px 12px;
  border-radius: 90%;
}

a:hover,
a:active {
  background-color: white;
  opacity: 50%;
}

.footer_grid1 {
  height: 20px;
  background-color: goldenrod;
}

/* 
.grid_game_table {
  display: flex;
  flex-direction: row | row-reverse | column
  
  flex-wrap: nowrap | wrap

  grid-column: 500px 500px;
align-content: flex-start | flex-end | center
 justify-content: space-around;
 }
} */
